@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-font: 'Raleway', sans-serif;
  --background-color: linear-gradient(90deg, rgba(32,41,44,1) 0%, rgba(35,35,35,1) 100%);
  --primary-color: linear-gradient(90deg, rgba(57,109,245,1) 0%, rgba(126,44,203,1) 100%);
  --secondary-color: #F0F2F4;
  --input-color:#3E3E3E;
}

body {
  background: var(--background-color);
  color: var(--secondary-color);
}

.header {
  font-family: var(--header-font);
  font-size: 40px;
  font-weight: 900;
  text-align: center;
   /* Fallback: Set a background color. */
   background-color: red;
  
   /* Create the gradient. */
   background-image: linear-gradient(45deg, #f3ec78, #af4261);
   
   /* Set the background size and repeat properties. */
   background-size: 100%;
   background-repeat: repeat;
 
   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
 
}

.form-group {
  padding-bottom: 40px;
}

.form-control {
  width: 100%;
  padding: 16px;
  padding-left: 2.1rem;
  background-color: var(--input-color);
}

::placeholder { 
  color: var(--secondary-color);
  padding-left: 24px;
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 16px;
}

.form-control:focus {
  background-color: var(--secondary-color);
}

.bi-search {
  min-width: 50px;
  padding-bottom: 0px;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-top: -48px;
}

h1 {
  font-family: var(--header-font);
  margin-bottom: 24px;
  font-weight: 600;
  color: var(--secondary-color);
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: fit-content;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

@media (min-width: 320px) {
  body {
    margin-top: 16px;
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  body {
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1024px) {
  body {
    margin-top: 56px;
    margin-left: 56px;
    margin-bottom: 80px;
  }

  .form-group {
    margin-right: 56px;
  }
}
